[phases.setup]
nixPkgs = ["python312", "ffmpeg"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "celery -A app.workers.celery_app worker --loglevel=info --concurrency=2"